.btn {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 13px 20px;
}

.btn > span {
  position: relative;
  display: block;
  letter-spacing: -0.03em;
  overflow: hidden;
  transition: transform .3s ease;
}

.btn > span::before {
  content: '';
  position: absolute;
  left: -1px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform .3s ease;
  transform: translateX(-100%);
}

.btn:hover span::before {
  transform: translateX(0);
}


/*************************** BUTTON MODIFY */

.btn_yellow {
  background-color: var(--color-btn);
}

.btn_yellow > span::after {
  content: url(../img/icon/arrow_btn.svg);
  margin-left: 7px;
}

.btn_inline {
  padding: 0;
  color: var(--color);
  border-radius: 0;
  background-color: transparent;
}

.btn_inline > span::before {
  height: 1px;
  background-color: var(--color);
}

.btn_inline > span::after {
  content: url(../img/icon/arrow_btn_blue.svg);
  margin-left: 12px;
}

/*************************** _MODIFY */

._block {
  display: block !important;
}

._flex {
  display: flex !important;
}

._deactive {
  opacity: 0.3;
  cursor: default;
}