body.bg-full {
  background-color: var(--color);
}

.general-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: -0.01em;
		color: #222222;
		@media (max-width: 992px){
			font-size: 30px;
			line-height: 35px;
			font-weight: 700;
		}
		@media (max-width: 576px){
			font-size: var(--fs-title-sm);
			line-height: var(--lh-title-sm);
			font-weight: var(--fw-title-sm);
		}
}
.general-text {
		color: #4D4D4D;
		@media (max-width: 576px){
			font-size: var(--fs-text-sm);
			line-height: var(--lh-text-sm);
			font-weight: var(--fw-text-sm);
			letter-spacing: var(--ls-text-sm);
		}
}


/* header-platform */
.header-platform {
	background: url('../img/header/bg1.png') top right / cover no-repeat;
}
.header__banner-platform {
	.header__title {
		width: 640px;
		max-width: 100%;
	}
	.header__subtitle {
		width: 680px;
		max-width: 100%;
	}
}

/* platform-items */
.platform-items {
	margin-top: 90px;
	@media (max-width: 768px){
		margin-top: 40px;
	}
	&__item {
		display: flex;
		@media (max-width: 1100px){
			align-items: flex-start;
			flex-direction: column;
		}
		&-wrapper {
			padding: 90px 0;
			@media (max-width: 768px){
				padding: 40px 0;
			}
			&:nth-child(odd){
				background-color: #F8FBFD;
			}
			&:nth-child(even){
				.platform-items__item {
					.platform-items__right {
						order: -1;
						margin: 0;
						margin-right: 48px;
						@media (max-width: 1100px){
							order: 1;
							margin: 0;
							margin-top: 30px;
						}
						.platform-items__right-img {
							left: auto;
							right: 0;
							margin: 0;
							width: calc(100% + 115px);
							border-radius: 0 20px 20px 0;
							@media (max-width: 1399px){
								width: calc(100%);
							}
						}
					}
					.btn-mobile {
						order: 2;
					}
				}
			}
		}
	}
	&__body {
		flex: 1 1 auto;
	}
	&__subtitle {
		font-family: 'Montserrat';
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: #222222;
		@media (max-width: 576px){
			font-size: 12px;
			line-height: 16px;
			font-weight: 600;
			letter-spacing: 0;
		}
		span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: #343EA8;
			width: 40px;
			height: 40px;
			margin-right: 10px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			color: #FFFFFF;
			border-radius: 50%;
			@media (max-width: 576px){
				display: flex;
				margin-bottom: 7px;
			}
		}
	}
	&__title {
		max-width: 850px;
		margin-top: 30px;
	}
	&__text {
		margin-top: 20px;
	}
	&__btn {
		margin-top: 30px;
		@media (max-width: 1100px){
			align-self: center;
		}
	}
	&__right {
		flex: 0 0 50%;
		min-height: 100%;
		margin-left: 48px;
		position: relative;
		@media (max-width: 1100px){
			margin: 0 auto;
			margin-top: 30px;
			flex: 1 1 auto;
		}
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% + 115px);
			height: 100%;
			background: #dddddd;
			border-radius: 20px 0 0 20px;
			@media (max-width: 1399px){
				width: calc(100%);
			}
			@media (max-width: 1100px){
				width: 50%;
				padding-top: 20%;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
		&-item {
			flex: 0 1 33.333%;
			padding: 15px;
			@media (max-width: 768px){
				flex: 0 1 50%;
			}
			@media (max-width: 460px){
				flex: 1 1 100%;
			}
			&--more {
				@media (max-width: 768px){
					flex: 1 1 100%;
				}
			}
		}
	}
	&__card {
		background: #FFFFFF;
		box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.12);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 35px 15px 15px;
		flex: 0 1 33.333%;
		height: 170px;
		position: relative;
		&-title {

			margin-top: 15px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: -0.01em;
			color: #222222;
			
			.platform-items__card-show-more {
			}
		}
		&-show-more {
			padding: 15px;
			@media (max-width: 768px){
				flex: 1 1 100%!important;
			}
			.platform-items__card-title {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0;
			}
		}
	}
	.btn-desktop {
		@media (max-width: 1100px){
			display: none;
		}
	}
	.btn-mobile {
		display: none;
		@media (max-width: 1100px){
			display: inline-block;
		}
	}
}



/* help */
.help {
	padding: 60px 0 70px;
	&__title {

	}
	&__text {
		margin-top: 20px;
	}
	&__btn {
		margin-top: 30px;
	}
}




/* reviews */
.reviews {
	background-color: #343EA8;
	padding: 40px 0 60px;
	&__title {
		color: #ffffff;
	}
	&__swiper {
		margin-top: 40px;
	}
	&__slide {
	}
	&__card {
		background: #FFFFFF;
		border-radius: 20px;
		padding: 50px 40px 50px;
	}
	&__icon {
	}
	&__text {
		margin-top: 15px;
		p {
			margin-top: 10px;
			&:first-child{
				margin: 0;
			}
		}
	}
	&__name {
		display: flex;
  	justify-content: space-between;
		margin-top: 15px;
		font-weight: 700;
		@media (max-width: 500px){
			flex-direction: column;
		}
	}
	&__btn {
		margin-top: 30px;
		color: #FF7F49;
		& > span::before {
			height: 1px;
  		background-color: #FF7F49;
		}
		& > span::after {
			content: url(../img/icons/arrow_btn_orange.svg);
		}
	}
	&__btns-swiper {
		margin-top: 40px;
		display: flex;
	}
	&__btn-swiper {
		cursor: pointer;
		width: 32px;
		height: 32px;
		background: url('../img/btn-slider.svg') 0 0 / 100% 100% no-repeat;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
		@media (max-width: 992px){
			opacity: 1;
		}
		&:hover{
			opacity: 1;
		}
		&-prev {
			transform: rotate(180deg);
		}
		&-next {
			margin-left: 10px;
		}
	}
}




.ready {
	background-color: #F2F6F9;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #D5D5D5;
		padding-top: 60px;
		padding-bottom: 60px;
		@media (max-width: 1200px){
			flex-wrap: wrap;
		}
	}
	&__title {
		flex: 0 1 870px;
		@media (max-width: 1200px){
			flex: 1 1 100%;
		}
	}
	&__btn {
		margin-left: 20px;
	}
}


.header-error {
	// background: url('../img/404.png') center / cover no-repeat;
	overflow: visible !important;
}
&::before {
	content: none !important;
}
.header-indevelopment {
	background: url('../img/indevelopment.png') center/ cover no-repeat;
}
.header-error, .header-indevelopment {
	padding: 190px 0;
	.header__subtitle {
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.header__title {
		width: 100%;
		margin-top: 15px;
	}
	.header__text {
		margin-top: 20px;
		color: #ffffff;
		@media (max-width: 500px){
			br {
				display: none;
			}
		}
	}
}

.error_container {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .error_container {
    flex-direction: column;
  }
}

.header-error__pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 125px;
  object-fit: contain;
}
@media (max-width: 800px) {
  .header-error__pic {
    width: 80%;
  }
}

.error__compas_bg {
  position: absolute;
}


.header-docs {
	background: #343EA8;

	&::before{
		display: none;
	}
	@media (max-width: 768px){
		br {
			display: none;
		}
	}


	.header__banner-docs {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__body {
		flex: 0 1 50%;
		position: relative;
		z-index: 2;
	}
	&__img {
		position: relative;
		@media (max-width: 768px){
			display: none;
		}
		img {
			transform: translate(0, -50%);
			top: 50%;
			right: 0;
			width: 500px;
			height: 500px;
			position: absolute;
			right: 0;
			top: 0;
			object-fit: cover;
			@media (max-width: 1100px){
				transform: translate(25%, -50%);
			}
		}
	}
}


.docs-content {
	&__container {
		border-bottom: 1px solid #D5D5D5;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__title {
	}
	&__text {
		margin-top: 20px;
		p {
			margin-top: 10px;
			&:first-child{
				margin: 0;
			}
		}
	}
	&__items {
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		flex: 0 1 50%;
		margin-top: 30px;
		padding: 0 15px;
		min-height: 100%;
		@media (max-width: 992px){
			flex: 1 1 100%;
		}
	}
	&__card {
		display: block;
		background: #F2F6F9;
		border: 1px solid #DEE7EE;
		border-radius: 10px;
		padding: 25px;
		min-height: 100%;
		@media (max-width: 768px){
			padding: 15px;
		}
		&-icon {
	
		}
		&-title {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			line-height: 24px;
			letter-spacing: -0.01em;
			color: #222222;
			margin-top: 15px;
		}
		&-text {
			margin-top: 15px;
		}
	}
}




.header-user {
	background-color: #343EA8;
	padding-bottom: 40px!important;
	overflow: visible !important;
	.header__banner-user {
		margin-top: 0px;
		// padding-top: 35px;
		position: relative;
		// &::before{
		// 	content:'';
		// 	position: absolute;
		// 	top: 0;
		// 	left: -165px;
		// 	right: -165px;
		// 	height: 1px;
		// 	background-color: #ffffff;
		// }
		.header__title {
			display: flex;
			align-items: center;
			img {
				width: 50px;
				height: 50px;
			}
			span {
				margin-left: 12px;
				display: inline-block;
			}
		}
	}
}

.header__line {
  content: '';
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 33px;
  background-color: #ffffff;
}



.user-content {
	margin-top: 50px;
	@media (max-width: 768px){
		margin-top: 30px;
	}
	&__container {
		display: flex;
		align-items: flex-start;
		border-bottom: 1px solid #D5D5D5;
		padding-bottom: 60px;
		@media (max-width: 768px){
			flex-wrap: wrap;
			padding-bottom: 30px;
		}
	}
	&__side {
		flex: 1 0 270px;
		@media (max-width: 768px){
			flex: 1 1 100%;
		}
	}
	&__body {
		margin-left: 30px;
		@media (max-width: 768px){
			margin: 0;
			margin-top: 30px;
		}
		h2 {
			margin-bottom: 20px;
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 40px;
			line-height: 49px;
			letter-spacing: -0.01em;
			color: #222222;
			@media (max-width: 992px){
				font-size: 30px;
				line-height: 35px;
				font-weight: 700;
			}
			@media (max-width: 576px){
				font-size: var(--fs-title-sm);
				line-height: var(--lh-title-sm);
				font-weight: var(--fw-title-sm);
			}
		}
		p {
			margin-top: 10px;
			color: #4D4D4D;
			@media (max-width: 576px){
				font-size: var(--fs-text-sm);
				line-height: var(--lh-text-sm);
				font-weight: var(--fw-text-sm);
				letter-spacing: var(--ls-text-sm);
			}
		}
	}
	&__img {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-top: 49%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.side-user {
	border: 1px solid #E7E7E7;
	&__title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.01em;
		color: #222222;
		padding: 12px;
		background: #F2F6F9;
		@media (max-width: 992px){
			font-size: 16px;
		}
	}
	&__item {
	}
	&__subtitle {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 26px;
		letter-spacing: -0.01em;
		color: #4D4D4D;
		padding: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #E7E7E7;
		
		span {
			margin-left: 7px;
			display: inline-block;
			width: 12px;
			height: 6px;
			background: url('../img/userarrow.svg') 0 0 / 100% 100% no-repeat;
		}
	}
}