/* services */

/* HEADER */

.header::before {
  background-color: var(--color);
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  transform: matrix(-0.71, 0.71, 1.21, 0.81, 594, 0);
  z-index: -5;
}

.header_catalog {
  padding-bottom: 55px;
}

.header__banner {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.catalog-header__text {
  width: 56%;
  margin-top: 79px;
}
@media(max-width: 800px) {
  .catalog-header__text {
    width: 85%;
  }
}

.header__subtitle {
  max-width: 460px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.015em;
  margin-top: 21px;
}

.header__btn {
  width: 248px;
  margin-top: 32px;
}

.header__btn > span {
  text-align: left;
  margin-left: 14px;
  letter-spacing: -0.015em;
}

.header__btn > span::after {
  margin-left: 11px;
}

.catalog-header__img {
  flex-grow: 1;
  margin-top: 46px;
}
@media(max-width: 800px) {
  .catalog-header__img {
    display: none;
  }
}

.catalog-header__img > img {
  margin-left: auto;
}


/* MAP */

.map {
  position: relative;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media(max-width: 992px) {
  .map {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
  }
}
@media(max-width: 576px) {
  .map {
    width: 100%;
  }
}

.map__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 552px;
  background-color: #fff;
  border: 1px solid #CBCBCB;
  border-radius: 10px;
  overflow: hidden;
}
@media(max-width: 992px) {
  .map__wrapper {
    display: flex;
    flex-direction: column;
    max-height: none;
    padding-bottom: 30px;
  }
}

.map__frame {
  max-height: 552px;
}

.map-iframe {
  width: 100%;
  height: 552px;
  border: 0;
}

.map__info {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  max-height: 100%;
  padding-top: 75px;
  background-color: #fff;
  transition: right 0.1s ease 0s;
  z-index: 2;
}
@media(max-width: 992px) {
  .map__info {
    position: initial;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 35px;
  }
}

.map__info::before {
  content: url('../img/icons/services/index2.png');
  position: absolute;
  top: 0px;
  left: -101px;
  width: 110px;
  height: 100%;
  z-index: 1;
}
@media(max-width: 992px) {
  .map__info::before {
    content: '';
  }
}

.map__info.hidden,
.map__info::before {
  right: -100%;
}

.map__title {
  margin-left: 33px;
  /* font */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #595959;
}

.map__logo {
  width: 222px;
  margin-top: 5px;
  margin-left: 25px;
}

.map-info__wrapper {
  display: flex;
  width: 100%;
  margin-top: 28px;
  margin-left: 16px;
}
@media(max-width: 992px) {
  .map-info__wrapper {
    flex-direction: column;
    margin-top: 0px;
  }
}

.map-info__client,
.map-info__company {
  width: 40%;
  margin: 0 17px;
}
@media(max-width: 992px) {
  .map-info__client,
  .map-info__company {
    width: 90%;
    margin: 0 auto;
  }
}


.map-info__title {
  margin-bottom: 11px;
  /* font */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #222222;
}
@media(max-width: 992px) {
  .map-info__title {
    margin-top: 15px;
  }
}

.map-info__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #595959;
}

.map__btn {
  position: absolute;
  bottom: 21px;
  padding: 6px 30px;
  color: var(--color-btn);
}
@media(max-width: 992px) {
  .map__btn {
    display: none;
  }
}

.map__btn_ico {
  position: absolute;
  top: 6px;
  left: 11%;
  margin: 0;
  padding: 0;
  transition: transform 0.1s ease 0s;
}

.map__btn.active .map__btn_ico {
  transform: rotate(45deg);
}

.map__btn > span::before {
  background-color: transparent;
}

.map__btn > span::after {
  content: '';
  margin: 0;
  padding: 0;
}

.map__btn_open,
.map__btn_close {
  display: none !important;
}

.map__btn_open.active,
.map__btn_close.active {
  display: block !important;
}


/********************************* SOLUTIONS */

.solutions {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 70px;
}

.solutions__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions__head {
  width: 100%;
  text-align: center;
}

.solutions__title {
  /* font */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #222222;
}

.solutions__text {
  max-width: 534px;
  margin: 0 auto;
  margin-top: 20px;
  /* font */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #4D4D4D;
}

.solutions__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 55px;
}

.solutions__item {
  display: flex;
  align-items: center;
  width: 33.333%;
  height: 48px;
  margin-bottom: 53px;
}
@media(max-width: 1400px) {
  .solutions__item {
    padding: 0 10px;
  }
}
@media(max-width: 1050px) {
  .solutions__item {
    width: 50%;
  }
}
@media(max-width: 700px) {
  .solutions__item {
    width: 100%;
    margin-bottom: 55px;
  }
}

.solutions-item__img {
  flex-shrink: 0;
  width: 60px;
}

.solutions-item__text {
  max-width: 79%;
}

.solutions__btn {
  width: 200px;
  margin-top: -8px;
}


/**************************** CONTACT US */

.contact {
  padding: 47px 0 52px;
  background-color: var(--color);
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(max-width: 800px) {
  .contact__wrapper {
    flex-direction: column;
  }
}

.contact__text {
  width: 68%;
  /* font */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.007em;
  color: #fff;
}
@media(max-width: 800px) {
  .contact__text {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media(max-width: 470px) {
  .contact__text {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
  }
}

.contact__btn {
  width: 208px;
}

.contact__btn > span {
  letter-spacing: -0.01em;
}


/* FOOTER */

.footer__content_services {
  padding-top: 43px;
}